.swiper__content {
  height: 60vh;
}

.home_swiper_section .swiper {
  width: 100%;
  height: 100%;
}

.home_swiper_section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center !important;
  width: 45% !important;
  height: 100% !important;
  object-fit: contain;
}

.home_swiper_section .swiper-slide img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  object-fit: cover !important;
}

.home_swiper_section .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  height: 100%;
}

.home_swiper_section .swiper-slide-prev {
  width: 50% !important;
  height: 100%;
}

.home_swiper_section .swiper-slide-prev img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home_swiper_section .swiper-slide-active {
  width: 50% !important;
  height: 100%;
}

.home_swiper_section .swiper-slide-active:nth-child(2) {
  width: 50% !important;
  height: 100%;
}

.home_swiper_section .swiper-slide-active img {
  width: 100%;
  height: 100%;
  filter: none;
  object-fit: contain;
}

.home_swiper_section .swiper-slide-next {
  width: 50% !important;
}

.home_swiper_section .swiper-slide-next img {
  width: 100%;
  object-fit: contain;
  filter: none;
}

.swiper-button-next {
  top: 50% !important;
  width: 30px;
  height: 30px;
  z-index: 999;
  right: 5% !important;
}

.swiper-button-next::after {
  content: "";
  background: url(./assets/r-l.png);
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin-top: -10px;
  background-size: cover;
  left: 40% !important;
}

.swiper-button-prev {
  top: 50% !important;
  width: 30px;
  height: 30px;
  left: 15%;
}

.swiper-button-prev::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(./assets/r-lc.png);
  background-size: cover;
  display: inline-block;
  margin-top: -10px;
}

@media (min-width: 0px) and (max-width: 460px) {
  .swiper__content {
    height: 40vh;
  }
  .home_swiper_section .swiper-slide-active:nth-child(2) {
    width: 90% !important;
  }
  .home_swiper_section .swiper-slide-active {
    width: 80% !important;
  }
  .home_swiper_section .swiper-slide {
    width: 80% !important;
  }
  .home_swiper_section .swiper-slide-prev {
    width: 30% !important;
  }
  .home_swiper_section .swiper-slide-next {
    width: 30% !important;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home_swiper_section .swiper__content {
    height: 40vh;
  }
  .home_swiper_section .swiper-slide-active:nth-child(2) {
    width: 90% !important;
  }
  .home_swiper_section .swiper-slide-active {
    width: 80% !important;
  }
  .home_swiper_section .swiper-slide {
    width: 80% !important;
  }
  .home_swiper_section .swiper-slide-prev {
    width: 30% !important;
  }
  .home_swiper_section .swiper-slide-next {
    width: 30% !important;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0 !important;
  }
}
