@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all .2s linear;
}

.nav__item:hover {
  color: #f7d22d;
}

.nav__item button {
  color: #0e0c0d;
}

.cart__content {
  color: #0e0c0d;
}


.container {
  width: 100%;
  max-width: 1200px !important;
  margin: 0 auto !important;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0 !important;
  padding: 2rem;
  z-index: 999;
  background-color: white;
  margin: 0;
  right: 0;
}

.fixed .fixed__logo {
  display: block;
}

.block.not_data {
  display: flex;
}

.custom_fixed {
  width: 100%;
  position: fixed;
  z-index: 59;
  background-color: #f7d22d;
  right: 0;
  height: auto;
  padding: 0 1rem;
  top: 0;
}

.custom_fixed .btn_cart {
  background-color: white;
}

.custom_fixed .fixed__image {
  display: block;
  position: relative;
  z-index: 50;
  left: 0;
}

.custom_fixed .navbar__media img {
  right: 20px !important;
  position: absolute;
  top: 30%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #0e0c0d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #f7d22d;
  border-radius: 20px;
}

.product__scroll::-webkit-scrollbar {
  display: none;
}

.new__card {
  box-shadow: 0 10px 5px 0px rgb(232, 230, 230);
}